* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #4f39f6;
  --text1: #101828;
  --text2: #555f6e;
  --text3: #999eaa;
  --footer: #1e2939;
}

#menu {
  top: 0;
  right: -100%;
  transition: right 0.3s ease-in-out;
}

#menu.open {
  right: 0;
}

#hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    rgba(30, 41, 57, 1) 0%,
    rgba(30, 41, 57, 0.4) 80%,
    rgba(30, 41, 57, 0.6) 100%
  );

  z-index: 0;
}

#hero h1,
#hero p{
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}
